SyncClient/SyncClient/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4824/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NBaseHonsenService" />
  <xs:import schemaLocation="http://localhost:4824/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NBaseHonsenService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NBaseHonsenService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="データ同期">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vesselSchemaVersion" type="xs:int" />
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxDataNoOfVesselIdZero" type="xs:decimal" />
        <xs:element minOccurs="0" name="maxDataNo" type="xs:decimal" />
        <xs:element minOccurs="0" name="vesselId" type="xs:int" />
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modueVersion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vesselDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="curNo" type="xs:int" />
        <xs:element minOccurs="0" name="maxNo" type="xs:int" />
        <xs:element minOccurs="0" name="counter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="データ同期Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="データ同期Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="文書データ同期_送信">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vesselId" type="xs:int" />
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="文書データ同期_送信Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="文書データ同期_送信Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="文書データ同期_受信">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="requestOdAttachFileIds" nillable="true" type="q3:ArrayOfstring" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="requestHoukokushoIds" nillable="true" type="q4:ArrayOfstring" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="requestKanriKirokuIds" nillable="true" type="q5:ArrayOfstring" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="requestKoubunshoKisokuIds" nillable="true" type="q6:ArrayOfstring" />
        <xs:element minOccurs="0" name="vesselId" type="xs:int" />
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="文書データ同期_受信Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="文書データ同期_受信Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="添付ファイル同期_送信">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vesselId" type="xs:int" />
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="添付ファイル同期_送信Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="添付ファイル同期_送信Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="syncTableNo" type="xs:int" />
        <xs:element minOccurs="0" name="maxDataNo" type="xs:decimal" />
        <xs:element minOccurs="0" name="vesselId" type="xs:int" />
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vesselDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="counter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncMasterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="syncTableNo" type="xs:int" />
        <xs:element minOccurs="0" name="maxDataNo" type="xs:decimal" />
        <xs:element minOccurs="0" name="vesselId" type="xs:int" />
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vesselDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="counter" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncSnParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vesselId" type="xs:int" />
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncSnParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncSnParameterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>