DeficiencyControl/DeficiencyControl/DeficiencyControl/Service References/WcfServiceDeficiency/ServiceDeficiency6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CIsl.DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CIsl.DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseWingDac">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DacBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="delete_flag" type="xs:decimal" />
          <xs:element minOccurs="0" name="renew_date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="renew_user_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ts" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseWingDac" nillable="true" type="tns:BaseWingDac" />
  <xs:complexType name="DacBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataBaseAccess">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DacBase" nillable="true" type="tns:DacBase" />
  <xs:complexType name="BaseDataBaseAccess">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseDataBaseAccess" nillable="true" type="tns:BaseDataBaseAccess" />
  <xs:complexType name="BaseDac">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DacBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="create_date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="create_ms_user_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="delete_flag" type="xs:boolean" />
          <xs:element minOccurs="0" name="update_date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="update_ms_user_id" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseDac" nillable="true" type="tns:BaseDac" />
  <xs:complexType name="BaseSearchData">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseSearchData" nillable="true" type="tns:BaseSearchData" />
</xs:schema>